.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-navbar {
  background-color: #f6f6f6;
  color: #161616;
}
.custom-navlogo {
  color: #1c1c1c;
}

.custom-navlogo:hover {
  color: #161616;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.custom-navText {
  color: #161616;
  position: relative;
  display: inline-block; /* Ensure the text doesn't take the full width */
}
.custom-navText:hover {
  color: #161616;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.custom-navText::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #0b74fd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.custom-navText:hover::after {
  width: 100%;
}

.rounded-pill {
  color: #161616;
  border: none;
}

.rounded-pill:hover {
  color: #0b74fd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.custom-navProfile {
  color: #161616;
  border: none;
}

.custom-navProfile:hover {
  color: #0b74fd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.custom-navText:hover,
.custom-navText:focus,
.custom-navText:active {
  color: #161616;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.custom-navProfile:hover,
.custom-navProfile:focus,
.custom-navProfile:active {
  color: #0b74fd;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.custom-navbar-toggler {
  background-color: #0b74fd;
}
.custom-navbar-toggler:hover {
  background-color: #0b74fd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
